.signup-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.password-wrapper {
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.to-signin{
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: #066097;
}
.eye-icon {
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translateY(-20%);
  cursor: pointer;
  color: #888;
}

.pas-suggest {
  user-select: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #888;
}

.pas-suggest li {
  margin: 5px 0;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  margin-top: 10px;
}

button.google-signup {
  background-color: #db4437;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

button.google-signup:hover {
  background-color: #c23321;
}
